/* ---------------------------------
           Common Styles
-------------------------------- */
*{
    font-family: 'Work Sans', sans-serif;
}

main{
    background-color: #ffffff;
}
.primary-btn{
    background-color: #FF900E;
    color: #ffffff;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}

.general-text{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* ----------------------------------
            Header Styles
-------------------------------- */
header{
    background-color: rgba(255, 144, 14, 0.1);
}
.header-display{
    max-width: 1440px;
    margin: auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.nav-bar{
    display: flex;
    width: 470px;
    justify-content: space-between;
    color: #424242;
    font-size: 18px;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-top{
    max-width: 862px;
    align-items: center;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
    text-align: center;
    margin-bottom: 35px;
}
.banner-text{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;
    margin-bottom: 30px;
}
.banner-img{
    margin-top: 50px;
    margin-bottom: 45px;
}

/*-----------------------------------------
          Feature List Styles
-------------------------------------- */
.feature-list{
    max-width: 1440px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 85px;
    margin-bottom: 130px;
}

.feature-list-img img{
    margin: 20px;
}
.feature-list-info{
    max-width: 537px;
}

.feature-list-title{
    color: #131313;
    font-size: 45px;
    margin-bottom: 24px;
}
.feature-list-title #light{
    color: #727272;
}
.feature-list-title #orange{
    color:#FF900E;
}
#feature-list-text{
    margin-bottom: 30px;
}

/*------------------------------------------------
          Enjoyable Feature Styles
------------------------------------------ */
.enjoyable-feature{
    max-width: 1440px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 130px;
}
.enjoyable-feature-title{
    border-left: 8px solid #FF900E;
    padding-left: 20px;
    font-size: 45px;
    font-weight: 700;
    max-width: 468px;
    margin-bottom: 30px;
}

#enjoyable-feature-text{
    margin-bottom: 30px;
}

.enjoyable-feature .general-text, article{
    max-width: 586px;
}

article{
    padding: 30px 42px 30px 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}
.article-title{
    font-size: 20px;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}

.primary-btn #exp-btn{
    padding: 45px 42px;
}
.primary-btn #experience-bold{
    font-size: 65px;
    font-weight: 700;
}
.primary-btn #experience-normal{
    font-size: 25px;
    font-weight: 500;
}

/*------------------------------------
         Fact Section Style 
--------------------------------*/

.fact{
    max-width: 1440px;
    margin: auto;
}

.fact-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}
#fact-text{
    max-width: 542px;
}

.fact-boxes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 100px;
}
.fact-box{
    max-width: 241px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
}
.fact-box img{
    margin-top: 45px;
}
.fact-box h3{
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}
.fact-box .general-text{
    margin-top: 10px;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 20px;
}

/*---------------------------------------------
             Sponsor Section Style
---------------------------------------*/
.sponsor{
    max-width: 1440px;
    margin: auto;
}
.sponsor-header{
    max-width: 542px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 180px;
}

.sponsor-header h3{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}
.sponsor-logo {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    mix-blend-mode:luminosity;
}

/*-------------------------------------------------
             Footer Section Style 
   --------------------------------------------*/
   footer h4{
    max-width: 1440px;
    margin: auto;
    background-color: #FFF4E7;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 130px;
    margin-bottom: 215px;
   }